.title {
	font-family: 'Lobster Two', cursive;
	text-align: center;
	margin: 3%;
}

h1 {
	font-size: 40px;
}

.parrafo-civico {
	font-family: 'Montserrat', sans-serif;
	text-align: justify;
	padding: 5%;
}

img {
	border: 5px groove deeppink;
	width: 100%;
}



